In [8]:
#imports
import pandas as pd
import numpy as np
from  sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [20]:
#imports sets
us_income_train = "datasets/cleaned/data_train.csv"
us_income_test = "datasets/cleaned/data_test.csv"
df = pd.read_csv(us_income_train)
df_test = pd.read_csv(us_income_test)

In [21]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,0
1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,0
2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,0
3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,0
4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,0

In [22]:
df.income.value_counts()

0    24720
1     7841
Name: income, dtype: int64

In [23]:
#splitting
X = df.drop("income",axis=1)
y = df.income.values

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42, test_size=0.3)

In [25]:
rfc = RandomForestClassifier()

In [26]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [16]:
predict =rfc.score(X_test,y_test)

In [17]:
predict

0.8554611526256526

In [35]:
X_s = df_test.drop("income",axis=1)
y_s = df_test.income.values

In [36]:
predict_test = rfc.score(X_s,y_s)

In [37]:
predict_test

0.8533873840673177